include README.md CONTRIBUTING.md CHANGELOG.md LICENSE requirements-dev.lock requirements-plot.lock requirements-arrays.lock uv.lock
recursive-include docs *.md *.json *.html *.png *.gif
recursive-include examples *.py *.html
recursive-include tools *.py
recursive-include tests *.py *.json
